<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Biblioteca ágil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/livro/doar']" routerLinkActive="router-link-active">Doar livro</a>
      </li>
      <li *ngIf="isAuth" class="nav-item">
        <a class="nav-link" [routerLink]="['/emprestimo']" routerLinkActive="router-link-active">Retirar livro</a>
      </li>
      <li *ngIf="isAuth" class="nav-item">
        <a class="nav-link" [routerLink]="['/emprestimo/devolver']" routerLinkActive="router-link-active">Devolver
          livro</a>
      </li>
      <li *ngIf="!isAuth" class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="router-link-active">Criar usuário</a>
      </li>
    </ul>
    <span class="navbar-text">
      <span *ngIf="isAuth" class="mr-5">{{userName}}</span>
      <button *ngIf="!isAuth" class="btn btn-outline-dark" (click)="login()"
        routerLinkActive="router-link-active">Login</button>
      <button *ngIf="isAuth" class="btn btn-outline-dark" (click)="logout()"
        routerLinkActive="router-link-active">Logout</button>
    </span>
  </div>
</nav>
